ipywidgets==8.1.2
matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.0
torch==2.2.0
torchvision==0.17.0
tqdm>=4.66.3
openai>=1.26.0
python-dotenv==1.0.0
fastapi==0.109.2
uvicorn==0.27.1
semantic-kernel==0.4.7.dev0
langchain==0.2.3
langchain-openai==0.1.8
beautifulsoup4==4.12.3
faiss-cpu==1.8.0
tiktoken>=0.7.0
qdrant-client>=1.9.0
transformers>=4.38.0
gradio==4.36.1
fastcore==1.5.29
llama-index>=0.10.13
atlassian-python-api==3.41.10
docarray==0.40.0
langchain-experimental==0.0.60
numexpr==2.9.0
wikipedia==1.4.0
langchainhub==0.1.18
pypdf==4.2.0
yt-dlp==2023.11.16
pydub==0.25.1
chromadb==0.5.0
lark>=1.1.9
scikit-learn>=1.5.0