ipywidgets==7.7.1
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
openai==0.27.8
python-dotenv==1.0.0
fastapi==0.100.1
uvicorn==0.23.1
semantic-kernel==0.3.4.dev0
langchain==0.0.242
beautifulsoup4==4.12.2
faiss-cpu==1.7.4
tiktoken==0.4.0
qdrant-client==1.7.3